body
{
  margin: 0;
  background: rgb(50, 60, 90);
}

input
{
  cursor: pointer;
}

form
{
  color: white;
}

.box
{
  background: rgb(140, 140, 140);
  border-width: 0;
  border-bottom: 4px;
  border-style: solid;
  align-content: center;
  width: 100%;
  padding: 0;
  height: 30px;
  font-size: 1.2em;
  text-align: center;
}

.login
{
  background: rgb(110, 110, 110);
  border: none;
  align-content: center;
  width: 100%;
  padding: 0;
  height: 30px;
  font-size: 1.2em;
  text-align: center;
}

.createAccount
{
  position: absolute;
  background: rgb(130, 150, 190);
  bottom: 0;
  border: none;
  align-content: center;
  width: 100%;
  padding: 6px 0 0 0;
  height: 30px;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  color: rgb(50, 60, 90);
}

.topper
{
  top: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 2em;
}

.mainblock
{
  position: absolute;
  overflow: hidden;
  background: rgb(30, 40, 60);
  height: 300px;
  width: 240px;
  top: 70px;
  left: calc(50% - 120px);
  border-radius: 8px;
}

.error
{
  position: relative;
  background: rgb(230, 60, 60);
  text-align: center;
  padding: 16px 0;
  top: -60px;
  margin: 10px;
  border-radius: 6px;
  color: white;
  animation: errorAnim 6s;
}

@keyframes errorAnim
{
  0%{transform: translateY(0px);}
  20%{transform: translateY(60px);}
  80%{transform: translateY(60px);}
  100%{transform: translateY(0px);}

}
